/* Write your CSS here */
.container {
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.inner-container {
  background-color: #ffffff;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'roboto';
  margin-left: 150px;
  margin-right: 150px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.google-image {
  height: 100px;
  width: 300px;
  align-self: center;
  margin-bottom: 50px;
}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}
.search-icon {
  height: 30px;
  width: 30px;
}
.input1 {
  background-color: #ffffff;
  border-style: solid;
  border-width: 0px;
  font-size: 16px;
  font-weight: 500;
}
.items-container {
  display: felx;
  flex-direction: column;
  list-style-type: none;
}
